body {
    background-color: lightblue;  
}

header {
    text-align: center;
    padding: 25px;
    background-color: red;
    color: white;
    margin: 25px;
    font-size: 30px;
}

button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

input{
    padding: 8px;
    border: 1px solid #ccc;
}

#result {
    margin-top: 40px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    padding: 5px;
}
